@model mmrcis.Areas.Operator.Models.PatientCheckInOutViewModel

@{
    ViewData["Title"] = "Edit Patient Check In/Out";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="ID" />
    <div class="form-group mb-3">
        <label asp-for="PatientID"></label>
        <select asp-for="PatientID" class="form-control" asp-items="ViewBag.Patients" disabled></select>
        <input type="hidden" asp-for="PatientID" />
        <span asp-validation-for="PatientID" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="AppointmentID"></label>
        <select asp-for="AppointmentID" class="form-control" asp-items="ViewBag.Appointments" disabled></select>
        <input type="hidden" asp-for="AppointmentID" />
        <span asp-validation-for="AppointmentID" class="text-danger"></span>
    </div> 

    <div class="form-group mb-3">
        <label asp-for="Date" class="control-label"></label>
        <input asp-for="Date" class="form-control" type="date" disabled />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="CheckInTime"></label>
        <input asp-for="CheckInTime" class="form-control timepicker" type="text" disabled />
        <span asp-validation-for="CheckInTime" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="CheckOutTime"></label>
        <input asp-for="CheckOutTime" class="form-control timepicker" type="text" />
        <span asp-validation-for="CheckOutTime" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Remarks"></label>
        <textarea asp-for="Remarks" class="form-control"></textarea>
        <span asp-validation-for="Remarks" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-area="Operator" asp-controller="PatientCheckInOut" asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            flatpickr(".timepicker", {
                enableTime: true,
                noCalendar: true, 
                dateFormat: "H:i", 
                time_24hr: true, 
                minuteIncrement: 15 
            });
        });
    </script>
}
