@{
		Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome to the Medical Staff Portal</h1>
<p>Click the buttons below to go to the desired management page.</p>
<div class="row mt-4">
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-header">
                <h5 class="mb-0">Available Appointments</h5>
            </div>
            <div class="card-body d-grid">
                <p class="card-text">Check available appointments and create patient visit records</p>
                <a asp-area="Medical" asp-controller="AvailableAppointment" asp-action="Index" class="btn btn-sm btn-primary">Go to Appointments</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-header">
                <h5 class="mb-0">Patient Visit Records</h5>
            </div>
            <div class="card-body d-grid">
                <p class="card-text">Check patient visit records</p>
                <a asp-area="Medical" asp-controller="PatientVisitRecord" asp-action="Index" class="btn btn-sm btn-primary">Go to Patient Visit Records</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-header">
                <h5 class="mb-0">Patient Vitals</h5>
            </div>
            <div class="card-body d-grid">
                <p class="card-text">Check patient vitals records</p>
                <a asp-area="Medical" asp-controller="PatientVitals" asp-action="Index" class="btn btn-sm btn-primary">Go to Patient Vitals</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-header">
                <h5 class="mb-0">Patients Info</h5>
            </div>
            <div class="card-body d-grid">
                <p class="card-text">Get all the information of patients including past records </p>
                <a asp-area="Medical" asp-controller="PatientInfo" asp-action="Index" class="btn btn-sm btn-primary">Go to Patient Info</a>
            </div>
        </div>
    </div>
</div>
