@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to mmrcis</h1>
    <p>Clinical Information System for MMR Clinic.</p>
    <p>To go to the desired management pages, please click the buttons in the navigation bar</p>
</div>
