@model mmrcis.Models.CostRate

@{
    ViewData["Title"] = "Create Cost Rate";
}

<h1>Create Cost Rate</h1>

<h4>Cost Rate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="CostCode" class="form-label"></label>
                <input asp-for="CostCode" class="form-control" />
                <span asp-validation-for="CostCode" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="CostAmount" class="form-label"></label>
                <input asp-for="CostAmount" class="form-control" />
                <span asp-validation-for="CostAmount" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="CostType" class="form-label"></label>
                <input asp-for="CostType" class="form-control" list="existingCostTypes" />
                <datalist id="existingCostTypes">
                    @foreach (var type in ViewBag.ExistingCostTypes)
                    {
                        <option value="@type"></option>
                    }
                </datalist>
                <span asp-validation-for="CostType" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="IorE" class="form-label"></label>
                <select asp-for="IorE" class="form-control" asp-items="ViewBag.IorE_Options">
                    <option value="">-- Select --</option>
                </select>
                <span asp-validation-for="IorE" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="AccountCode" class="form-label"></label>
                <input asp-for="AccountCode" class="form-control" />
                <span asp-validation-for="AccountCode" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
