@{
		Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome to the Operator Portal</h1>
<p>From here you can manage various aspects of the clinic operations. Click the buttons below to go to the desired operations page.</p>
